body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
}

.search-bar-container {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 5px;
    width: 300px;
    height: 50px;
    border-radius: 50px; 
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(255,255,255,0.7);
    margin: 10px;
    position: relative;
    transition: width 0.8s ease;
    overflow: hidden; /* Prevents hidden elements from spilling out */
}

.magnifier {
    width: 25px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    transition: transform 0.3s ease;
}

.mic-icon{
    width: 30px;
    position: absolute;
    right: 10px;
    transition: width 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

.input {
    background-color: transparent;
    border: none;
    margin: 10px 50px;
    width: 100%;
    outline: none;
    color: rgb(100, 100, 100);
    transition: width 0.5s ease, opacity 0.4s ease, transform 0.4s ease;
}

/* When active (Collapsed) */
.search-bar-container.active {
    width: 50px;
}

/* Fade + Shrink Input */
.search-bar-container.active .input {
    width: 0;
    opacity: 0;
    transform: scale(0.8);
}

/*Fade + Shrink Mic Icon*/
.search-bar-container.active .mic-icon {
    width: 0;
    opacity: 0;
    transform: scale(0.8);
}

/* Optional  animate magnifier a bit when clicked*/
.search-bar-container.active .magnifier {
    transform: scale(1.3);
}
